@using DerdinizKimComWeb.BusinessLayer
@using DerdinizKimComWeb.Entities

@{
    CategoryManager cm = new CategoryManager();
    List<Kategori> list = cm.GetKategoriler();

}


<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
    @foreach(Kategori cat in list)
    {
    <a href="/Home/ByCategory/@cat.id" title="@cat.aciklama" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@cat.baslik</a>
    }
    

</div>