
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-9">
            
            <div class="row">
                <h2>Hakkımızda yazılacak yazı</h2>
                <hr />
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail" alt="Alternatif Yazı">
                <hr />
                <p>metinler</p>
                <p>buraya</p>
                <p>gelcek</p>
                <p>önemli</p>
                <p>bölüm</p>

            </div>
        </div>
    </div>
</div>